{% extends 'base.html' %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="/addview" method="POST">
        <h3 class="mt-5">Edit Info of Expense</h3>
        <div class="form-group">
          <input type="hidden" name="id" value="{{expenses.id}}" />
          <label for="">Date</label>
          <input
            class="form-control"
            type="date"
            name="date"
            value="{{expenses.date}}"
            id="name"
          />
        </div>
        <div class="form-group">
          <label for="">Expense Name</label>
          <input
            class="form-control"
            type="text"
            name="expense"
            value="{{expenses.expensename}}"
            id="name"
            placeholder="Expense Name"
          />
        </div>
        <div class="form-group">
          <label for="">Amount</label>
          <input
            class="form-control"
            type="number"
            name="amount"
            value="{{expenses.amount}}"
            id="name"
            placeholder="Amount $"
          />
        </div>
        <div class="form-group">
          <label for="">Expense Category</label>
          <select class="form-control" name="category" id="category-name">
            <option value="food">Food</option>
            <option value="entertainment">Entertainment</option>
            <option value="business">Business</option>
            <option value="other" selected>Others</option>
          </select>
        </div>
        <input class="btn btn-success" type="submit" value="Update" />
      </form>
    </div>
  </div>
  <h3 class="mt-5 mb-3">Expenses</h3>
  {% for expense in expenses %}
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-2 bg-white rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">{{expense.expensename}}</div>
            <div class="col-md-2">$ {{expense.amount}}</div>
            <div class="col-md-2">{{expense.date}}</div>
            <div class="col-md-2">
              <span class="badge badge-warning">{{expense.category}}</span>
            </div>
            <div class="col-md-2">
              <a href="/edit/{{expense.id}}" class="btn btn-sm btn-success"
                >Edit</a
              >
            </div>
            <div class="col-md-2">
              <a href="/delete/{{expense.id}}" class="btn btn-sm btn-danger"
                >Delete</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <h3 class="mt-5 mb-3">Expense Breakdown</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow mb-2 rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">Food</div>
            <div id="t-food" class="col-md-6">{{t_food}}</div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-2 rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">Business</div>
            <div id="t-business" class="col-md-6">{{t_business}}</div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-2 rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">Entertainment</div>
            <div id="t-entertainment" class="col-md-6">{{t_entertainment}}</div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-2 rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">Others</div>
            <div id="t-other" class="col-md-6">{{t_other}}</div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-5 rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">Total</div>
            <div class="col-md-6">$ {{t_total}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <canvas id="myChart" class="mb-5" width="400" height="400"></canvas>
      <script>
        const food = document.getElementById("t-food").innerHTML;
        const business = document.getElementById("t-business").innerHTML;
        const entertainment =
          document.getElementById("t-entertainment").innerHTML;
        const other = document.getElementById("t-other").innerHTML;

        const ctx = document.getElementById("myChart").getContext("2d");
        const myChart = new Chart(ctx, {
          type: "pie",
          data: {
            labels: ["Food", "Entertainment", "Business", "Other"],
            datasets: [
              {
                label: "# of Votes",
                data: [food, entertainment, business, other],
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                ],
                borderColor: [
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      </script>
    </div>
  </div>
</div>

{% endblock %}
